<!doctype html>
<style>
form {
    margin: auto;
    width: 35%;
}

.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>

<head>
    <title>Salary Model</title>
</head>

<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Ответьте на вопрос:</legend>
        Ваш стаж работы?:
        <input name="experience" type="number" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
    <br>
    <div class="block1">Далее то, что к текущей модели не относится. Играйтесь в предсказание зарплаты :)
    </div> 
    <br>
    <fieldset>
        <legend>Input values:</legend>
        Количество точек разгрузки?:
        <input name="count" type="number" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
    <fieldset>
        <legend>Input values:</legend>
        Протяженность маршрута?:
        <input name="km" type="number" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
    <fieldset>
        <legend>Input values:</legend>
        Кто за рулем?:
        <input name="driverName" type="sting" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>

<div class="result" align="center">
    {% if result %}
    	<br> <p style="font-size:50px">Your salary:</p>
   		<p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>